
    body {
      background-color: rgb(37, 37, 37);
    }

    h1 {
      font-size: 60px;
      font-style: italic;
      font-family: fantasy;
      color:rgb(93, 2, 2);
      text-align: center;
    }

    ul {
      font-style: italic;
      font-family: fantasy;
      color:rgb(154, 26, 26);
      text-align: center; 
    }

    h2 {
      font-style: italic;
      font-family: fantasy;
      color:rgb(93, 2, 2);
      text-align: center;
    }

    h4 {
      font-style: italic;
      font-family: fantasy;
      color:rgb(0, 110, 255);
      text-align: center;
    }

    th {
      font-style: italic;
      font-family: fantasy;
      color:rgb(0, 110, 255);
    }

    .home {
      font-style: italic;
      font-family: fantasy;
      color:rgb(0, 110, 255);
    }

    .li {
      font-style: italic;
      font-family: fantasy;
      color:rgb(0, 110, 255);
    }

    .link {
      text-align: center;
}
h3 {
      font-style: italic;
      font-family: fantasy;
      color:rgb(0, 110, 255);
}

    #li {
      font-style: italic;
      font-family: fantasy;
      color:rgb(93, 2, 2)
    }

    #li {
      font-style: italic;
      font-family: fantasy;
      color:rgb(93, 2, 2)
    }